{% extends "dashboard_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="space-y-8">

    <!-- ===================== -->
    <!-- Greeting -->
    <!-- ===================== -->

    <section class="flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-between">

        <!-- Left -->

        <div>

            <p class="text-rose-500 font-semibold uppercase tracking-wider">
                Dashboard
            </p>

            <h1 class="mt-2 text-5xl font-extrabold text-gray-900">

                👋 Good Morning, Premal

            </h1>

            <p class="mt-4 max-w-2xl text-lg text-gray-500 leading-relaxed">

                Welcome back! Here's your pregnancy summary for today.
                Stay healthy, stay positive, and take care of yourself and your baby.

            </p>

        </div>

        <!-- Right -->

        <div
            class="rounded-3xl bg-white px-8 py-6 shadow-sm border border-rose-100">

            <p class="text-gray-500">

                Today

            </p>

            <h2 class="mt-2 text-3xl font-bold text-gray-900">

                Tuesday,
                July 8

            </h2>

        </div>

    </section>

</div>

{% endblock %}